.navbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 64px;
    color: rgb(185, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.navbar p{
    background-color: inherit;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin: 0;
}

.navbar p:hover{
    color: rgb(255, 255, 255);
}

.app{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 64px;
    width: 100%;
    height: calc(100% - 64px);
}

.roulette-box{
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 50%;
    margin-inline: auto;
    margin-top: 5vh;
    border-radius: 2vw;
    position:static;
    
}

.roulette-box:hover{
    background-color: rgb(10, 10, 10);
}

.case-contents{
    
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 40%;
    margin-inline: auto;
    margin-top: 1vh;
    border-radius: 2vw;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 25vw);
    grid-gap: 16px;
    justify-content: center;
    padding: initial;
}

.case-contents::-webkit-scrollbar{
    display: none;
}

.case-contents:hover{
    background-color: rgb(10, 10, 10);
}

/* .case-contents-individual div{
    display: flex;
} */
.case-contents-individual-img-container{
    width: 100%;
    height: 100%;
}
.case-contents-individual-img-container img{
    position: relative;
    width: 100%;
    height: 100%;
}

/* .case-contents-individual:hover{
    border-width: 10px;
} */

canvas{
    width: 800px;
    height: 200px;
    /* margin-left: calc(50% - 400px); */
    /* margin-top: 64px; */
    border-radius:8px;
    /* animation: shade 3s infinite; */
    position:relative;
}

.canvas-div{
    width: 800px;
    height: 200px;
    margin-left: calc(50% - 400px);
    transform:translateY(25%);
    position:static;
    border-radius:8px;
}

.canvas-div::before{
    content:'';
    position:absolute;
    width: 800px;
    height:200px;
    left: calc(50% - 400px);
    box-shadow: 0 0px 20px rgb(91, 128, 158);
    opacity: 0.3;
    animation: shade 4s infinite ease-in-out;
    border-radius:8px;
}


@keyframes shade{
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}